.displayNone{
    display:none;
}
.fl{float:left}
.fr{float:right}
.loadingImg{width:28px}

#sideToolbarContainer div p.title{
    color:#fcfcfc;
    font-size: 16px;
    text-align: center;
}
.search,.orderMeeting{
    width: 160px;
    margin: 10px auto;
    background: #fcfcfc;
    padding: 0 5px;
    box-sizing: border-box;
    height: 28px;
    border-radius: 3px;
}
#call_records .fast_call_phone i,#order .orderMeeting i,.search i,#meetingList .fast_search i{
    position: absolute;
    display: inline-block;
    font-size: 24px;
    float: left;
    color: #484848;
    margin-top: 2px;
}
.icon-time{
    margin-top: 4px;
    font-size: 18px;
}
#call_records .fast_call_phone input,#order .orderMeeting input,.search input,#meetingList .fast_search input{
    width: 145px;
    border: none;
    outline: none;
    background: #fcfcfc;
    height: 28px;
    font-size: 15px;
    color: #585858;
    padding-left: 27px;
}


/** 基础通用 **/
/* 消除第三方ui可能造成的冲突 */
.sun-box, .sun-box *{-webkit-box-sizing: content-box !important; -moz-box-sizing: content-box !important; box-sizing: content-box !important;}
.sun-border-box, .sun-border-box *{-webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
.sun-clear{clear: both; *zoom: 1;}
.sun-clear:after{content:'\20'; clear:both; *zoom:1; display:block; height:0;}
.sun-inline{position: relative; display: inline-block; *display:inline; *zoom:1; vertical-align: middle;}
/* 三角形 */.sun-edge{position: absolute; width: 0; height: 0; border-style: dashed; border-color: transparent; overflow: hidden;}
/* 单行溢出省略 */.sun-elip{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
/* 屏蔽选中 */.sun-unselect{-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.sun-disabled,.sun-disabled:hover{color: #d2d2d2 !important; cursor: not-allowed !important;}
/* 纯圆角 */.sun-circle{border-radius: 100%;}
.sun-show{display: block !important;}
.sun-hide{display: none !important;}


/* 布局 */
.sun-main{position: relative; width: 1140px; margin: 0 auto;}
.sun-header{position: relative; z-index: 1000; height: 65px;}
.sun-header a:hover{transition: all .5s; -webkit-transition: all .5s;}
.sun-side{position: fixed; top: 0; bottom: 0; z-index: 999; width: 200px; overflow-x: hidden;}
.sun-side-scroll{width: 220px; height: 100%; overflow-x: hidden;}
.sun-body{position: absolute; left: 200px; right: 0; top: 0; bottom: 0; z-index: 998; width: auto; overflow: hidden; overflow-y: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* 后台布局风格 */.sun-layout-admin .sun-header{border-bottom: 5px solid #5FB878;}
.sun-layout-admin .sun-side{top: 65px; width: 200px; overflow-x: hidden;}
.sun-layout-admin .sun-body{top: 70px; bottom: 44px;}
.sun-layout-admin .sun-main{width: auto; margin: 0 15px;}
.sun-layout-admin .sun-footer{position: fixed; left: 200px; right: 0; bottom: 0; height: 44px; background-color: #eee;}


/** 页面元素 **/
.sun-btn, .sun-input, .sun-textarea, .sun-upload-button{outline: none; -webkit-transition: border-color .3s cubic-bezier(.65,.05,.35,.5); transition: border-color .3s cubic-bezier(.65,.05,.35,.5); -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}

/* 引用 */.sun-elem-quote{margin-bottom: 10px; padding: 15px; line-height: 22px; border-left: 5px solid #009688; border-radius: 0 2px 2px 0; background-color: #f2f2f2;}
.sun-quote-nm{border-color: #e2e2e2; border-style: solid; border-width: 1px; border-left-width: 5px; background: none;}
/* 字段集合 */.sun-elem-field{margin-bottom: 10px; padding: 0; border: 1px solid #e2e2e2;}
.sun-elem-field legend{margin-left: 20px; padding: 0 10px; font-size: 20px; font-weight: 300;}
.sun-field-title{margin: 10px 0 20px; border: none; border-top: 1px solid #e2e2e2;}
.sun-field-box{padding: 10px 15px;}
.sun-field-title .sun-field-box{padding: 10px 0;}

/* 颜色 */
.sun-bg-black{background-color: #393D49; color: #c2c2c2;}
.sun-bg-black a{color: #c2c2c2;}.sun-bg-black a:hover{color: #fff;}
.sun-bg-gray{background-color: #eee; color: #333;}
.sun-bg-green{background-color: #009688; color: #D7EEE8;}
.sun-bg-blue{background-color: #1E9FFF;  color: #D7EEE8;}

.sun-cl-black{ color: #393D49;}
.sun-cl-black a{color: #c2c2c2;}.sun-cl-black a:hover{color: #fff;}
.sun-cl-gray{color: #eee;}
.sun-cl-green{color: #009688;}
.sun-cl-blue{color: #1E9FFF;}

/* 文字 */
.sun-word-aux{font-size: 12px; color: #999; padding: 0 5px;}

/* 按钮 */
.sun-btn{font-size:14px;display: inline-block; vertical-align: middle; height: 35px; line-height: 35px; padding: 0 15px; background-color: #009688; color: #fff; white-space: nowrap; text-align: center; border: none; border-radius: 2px; cursor: pointer; opacity: 0.9; filter:alpha(opacity=90); -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.sun-btn:hover{opacity: 0.8; filter:alpha(opacity=80); color: #fff;}
.sun-btn:active{opacity: 1; filter:alpha(opacity=100);}
.sun-btn+.sun-btn{margin-left: 10px;}
/* 圆角 */.sun-btn-radius{border-radius: 100px;}
.sun-btn .sun-icon{font-size: 18px; vertical-align: bottom;}

/* 原始 */.sun-btn-primary{border: 1px solid #C9C9C9; background-color: #F5F5F5; color: #555;}
.sun-btn-primary:hover{border-color: #009688; color: #333}
/* 百搭 */.sun-btn-normal{background-color: #1E9FFF;}
/* 暖色 */.sun-btn-warm{background-color: #F7B824;}
/* 警告 */.sun-btn-danger{background-color: #FF5722;}
/* 禁用 */.sun-btn-disabled,.sun-btn-disabled:hover,.sun-btn-disabled:active{border: 1px solid #e6e6e6; background-color: #FBFBFB; color: #C9C9C9; cursor: not-allowed; opacity: 1;}

/* 大型 */.sun-btn-big{height: 44px; line-height: 44px; padding: 0 25px; font-size: 16px;}
/* 小型 */.sun-btn-small{height: 30px; line-height: 30px; padding: 0 10px; font-size: 12px;}
.sun-btn-small i{font-size: 16px !important;}
/* 迷你 */.sun-btn-mini{height: 22px; line-height: 22px; padding: 0 5px; font-size: 12px;}
.sun-btn-mini i{font-size: 14px !important;}

/** 表单 **/
.sun-input, .sun-textarea{font-size:14px;display: block; width: 100%; padding-left: 10px; height: 38px; line-height: 38px; line-height: 36px\9; border: 1px solid #C9C9C9; background-color: #fff; border-radius: 2px;}
.sun-input:hover, .sun-textarea:hover{border-color: #D2D2D2 !important;}
.sun-input:focus, .sun-textarea:focus{border-color: #666666 !important;}
.sun-textarea{position: relative; min-height: 100px; height: auto; line-height: 20px; padding: 6px 10px; resize: vertical;}
/*.sun-form select,
.sun-form input[type=checkbox],
.sun-form input[type=radio]{display: none;}*/

.sun-form-item{margin:7px 0; clear: both; *zoom: 1;}
.sun-form-item:after{content:'\20'; clear: both; *zoom: 1; display: block; height:0;}
.sun-form-label{position: relative; float: left; display: block; padding: 9px 0;  width: 70px; font-weight:normal;line-height: 20px; text-align: left;box-sizing:border-box;}
.sun-form-item .sun-inline{margin-bottom: 5px; margin-right: 10px;}
.sun-input-block, .sun-input-inline{position: relative;}
.sun-input-block{width:auto; min-height: 36px;}
.sun-input-inline{display: inline-block; vertical-align: middle;}
.sun-form-item .sun-input-inline{float: left; width: 190px; margin-right: 10px;}
.sun-form-text .sun-input-inline{width: auto;}
.sun-form-item span{font-size:13px;}
.sun-form-item .formCheckbox{position:relative;float:left;height:20px;line-height:20px;font-size:13px;}
.sun-form-item .formCheckbox input{margin:0;width:14px;height:14px;position:absolute;top:3px;cursor:pointer;}
.sun-form-item .formCheckboxInput{width:18px;}
.sun-form-item a{text-decoration: none;font-size:13px;cursor:pointer;}

/* 分割块 */.sun-form-mid{position: relative; float: left; display: block; padding: 8px 0; line-height: 20px; margin-right: 10px;}
/* 警告域 */.sun-form-danger:focus
         ,.sun-form-danger+.sun-form-select .sun-input{border: 1px solid #FF5722 !important;}


/* 下拉选择 */
.sun-form-select{position: relative;}
.sun-form-select .sun-input{padding-right: 30px; cursor: pointer;}
.sun-form-select .sun-edge{position: absolute; right: 10px; top: 50%; margin-top: -3px; cursor: pointer; border-width: 6px; border-top-color: #c2c2c2; border-top-style: solid; transition: transform .3s; transition: transform .3s,-webkit-transform .3s;}
.sun-form-select dl{display: none; position: absolute; left: 0; top: 42px; margin-bottom: 50px; padding: 5px 0; z-index: 999; min-width: 100%; border: 1px solid #d2d2d2; max-height: 300px; overflow-y: auto; background-color: #fff; border-radius: 2px; box-shadow: 0 2px 4px rgba(0,0,0,.12); box-sizing: border-box;}
.sun-form-select dl dt,
.sun-form-select dl dd{padding: 0 10px; line-height: 36px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.sun-form-select dl dt{font-size: 12px; color: #999;}
.sun-form-select dl dd{cursor: pointer;}
.sun-form-select dl dd:hover{background-color: #f2f2f2;}
.sun-form-select .sun-select-group dd{padding-left: 20px;}
.sun-form-select dl dd.sun-this{background-color: #5FB878; color: #fff;}
.sun-form-selected dl{display: block;}
.sun-form-selected .sun-edge{margin-top: -9px; -webkit-transform:rotate(180deg); transform: rotate(180deg);}
.sun-form-selected .sun-edge{margin-top: -3px\0; }
:root .sun-form-selected .sun-edge{margin-top: -9px\0/IE9;}

/* 复选框 */.sun-form-checkbox{position: relative; display: inline-block; vertical-align: middle; height: 30px; line-height: 28px; margin: 4px 10px 0 0; padding-right: 30px; border: 1px solid #d2d2d2; background-color: #fff; cursor: pointer; font-size: 0; border-radius: 2px;  -webkit-transition: .1s linear; transition: .1s linear; box-sizing: border-box !important;}
.sun-form-checkbox:hover{border: 1px solid #c2c2c2;}
.sun-form-checkbox *{display: inline-block; vertical-align: middle;}
.sun-form-checkbox span{padding: 0 10px; font-size: 14px; background-color: #d2d2d2; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sun-form-checkbox:hover span{background-color: #c2c2c2;}
.sun-form-checkbox i{position: absolute; right: 0; width: 37px; color: #fff; font-size: 20px;}
.sun-form-checkbox:hover i{color: #c2c2c2;}
.sun-form-checked, .sun-form-checked:hover{border: 1px solid #5FB878;}
.sun-form-checked span, .sun-form-checked:hover span{background-color: #5FB878;}
.sun-form-checked i, .sun-form-checked:hover i{color: #5FB878;}

/* 复选框-开关风格 */.sun-form-switch{position: relative; display: inline-block; vertical-align: middle; height: 22px; line-height: 22px; width: 40px; padding: 0 5px; margin-top: 8px; border: 1px solid #d2d2d2; border-radius: 20px; cursor: pointer; background-color: #fff; -webkit-transition: .1s linear; transition: .1s linear;}
.sun-form-switch i{position: absolute; left: 5px; top: 3px; width: 16px; height: 16px; border-radius: 20px; background-color: #d2d2d2; -webkit-transition: .1s linear; transition: .1s linear;}
.sun-form-onswitch{border-color: #5FB878; background-color: #5FB878;}
.sun-form-onswitch:before{content: 'ON'; color: #fff;}
.sun-form-onswitch i{left: 30px; background-color: #fff;}

/* 单选框 */
.sun-form-radio{display: inline-block; vertical-align: middle; line-height: 28px; margin: 6px 10px 0 0; padding-right: 10px; cursor: pointer; font-size: 0;}
.sun-form-radio *{display: inline-block; vertical-align: middle;}
.sun-form-radio i{margin-right: 8px; font-size: 22px; color: #c2c2c2;}
.sun-form-radio  span{font-size: 14px;}
.sun-form-radioed i,.sun-form-radio i:hover{color: #5FB878;}

/* 表单方框风格 */.sun-form-pane .sun-form-label{width: 80px; padding: 8px 15px; line-height: 20px; border: 1px solid #e6e6e6; border-radius: 2px 0 0 2px; text-align: center; background-color: #FBFBFB; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sun-form-pane .sun-input-inline{margin-left: -1px;}
.sun-form-pane .sun-input-block{margin-left: 112px; left: -1px;}
.sun-form-pane .sun-input{border-radius: 0 2px 2px 0;}
.sun-form-pane .sun-form-text .sun-form-label{float: none; width: 100%; border-right: 1px solid #e6e6e6; border-radius: 2px; box-sizing: border-box!important; text-align: left;}
.sun-form-pane .sun-form-text .sun-input-inline{display: block; margin: 0; top: -1px; clear: both;}
.sun-form-pane .sun-form-text .sun-input-block{margin: 0; left: 0; top: -1px;}
.sun-form-pane .sun-form-text .sun-textarea{min-height: 100px; border-radius: 0 0 2px 2px;}
.sun-form-pane .sun-input:hover, .sun-form-pane .sun-textarea:hover{border-color: #e6e6e6 !important;}
.sun-form-pane .sun-input:focus, .sun-form-pane .sun-textarea:focus{border-color: #e6e6e6 !important;}
.sun-form-pane .sun-form-checkbox{margin: 0 0 10px 10px;}
.sun-form-pane .sun-form-switch,
.sun-form-pane .sun-form-radio{margin-left: 10px; }

/** 富文本编辑器 **/
.sun-layedit{border: 1px solid #d2d2d2; border-radius: 2px;}
.sun-layedit-tool{padding: 3px 5px; border-bottom: 1px solid #e2e2e2; font-size: 0;}
.layedit-tool-fixed{position: fixed; top: 0; border-top: 1px solid #e2e2e2;}
.sun-layedit-tool .layedit-tool-mid,
.sun-layedit-tool .sun-icon{display: inline-block; vertical-align: middle; text-align: center; font-size: 14px;}
.sun-layedit-tool .sun-icon{position: relative; width: 32px; height: 30px; line-height: 30px; margin: 3px 5px; border-radius: 2px; color: #777; cursor: pointer; border-radius: 2px;}
.sun-layedit-tool .sun-icon:hover{color: #393D49;}
.sun-layedit-tool .sun-icon:active{color: #000;}
.sun-layedit-tool .layedit-tool-active{background-color: #e2e2e2; color: #000;}
.sun-layedit-tool .sun-disabled,
.sun-layedit-tool .sun-disabled:hover{color: #d2d2d2; cursor: not-allowed;}
.sun-layedit-tool .layedit-tool-mid{width: 1px; height: 18px; margin: 0 10px; background-color: #d2d2d2;}

.layedit-tool-html{width: 50px !important; font-size: 30px !important;}
.layedit-tool-b,
.layedit-tool-code,
.layedit-tool-help{font-size: 16px !important;}
.layedit-tool-d,
.layedit-tool-unlink,
.layedit-tool-face,
.layedit-tool-image{font-size: 18px !important;}
.layedit-tool-image input{position: absolute; font-size: 0; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.01; filter: Alpha(opacity=1); cursor: pointer;}

.sun-layedit-iframe iframe{display: block; width: 100%;}
#LAY_layedit_code{overflow: hidden;}

/** 表格简单修饰 **/
.sun-table{width: 100%; margin: 10px 0;}
.sun-table thead tr{background-color: #f2f2f2;}
.sun-table th,
.sun-table td{padding: 6px 10px; min-height: 20px; line-height: 20px; border: 1px solid #d2d2d2; font-size: 14px; font-weight: 400;}
.sun-table th{padding: 10px;}
.sun-table tr{background-color: #fff;}
.sun-table tr:nth-child(even){background: #fbfbfb;}


/** 文件上传 **/
.sun-upload-button{position: relative; display: inline-block; vertical-align: middle; min-width: 60px; height: 36px; line-height: 36px; border: 1px solid #DFDFDF; border-radius: 2px; overflow: hidden; background-color: #fff; color: #666;}
.sun-upload-button:hover{border: 1px solid #aaa; color: #333;}
.sun-upload-button:active{border: 1px solid #4CAF50; color: #000;}
.sun-upload-file,
.sun-upload-button input{opacity: 0.01; filter: Alpha(opacity=1); cursor: pointer;}
.sun-upload-button input{position: absolute; left: 0; top: 0; z-index: 10; font-size: 100px; width: 100%; height: 100%;}
.sun-upload-icon{display:block; margin: 0 15px; text-align: center;}
.sun-upload-icon i{margin-right: 5px; vertical-align: top; font-size: 20px; color: #5FB878}
.sun-upload-iframe{position: absolute; width: 0; height: 0; border: 0; visibility: hidden;}
.sun-upload-enter{border: 1px solid #009E94; background-color: #009E94; color: #fff; -webkit-transform: scale(1.1); transform: scale(1.1);}
.sun-upload-enter .sun-upload-icon,
.sun-upload-enter .sun-upload-icon i{color: #fff;}

/** 流加载 **/
.sun-flow-more{margin: 10px 0; text-align: center; color: #999; font-size: 14px;}
.sun-flow-more a{ height: 32px; line-height: 32px;  }
.sun-flow-more a *{display: inline-block; vertical-align: top;}
.sun-flow-more a cite{padding: 0 20px; border-radius: 3px; background-color: #eee; color: #333; font-style: normal;}
.sun-flow-more a cite:hover{opacity: 0.8;}
.sun-flow-more a i{font-size: 30px; color: #737383;}

/** 分页 **/
.sun-laypage{display: inline-block; vertical-align: middle; margin: 10px 0; background-color: #fff; font-size: 0;}
.sun-laypage>*:first-child,
.sun-laypage>*:first-child em{border-radius: 2px 0 0 2px;}
.sun-laypage>*:last-child,
.sun-laypage>*:last-child em{border-radius: 0 2px 2px 0;}
.sun-laypage span,
.sun-laypage a{display: inline-block; vertical-align: middle; padding: 0 15px; border: 1px solid #e2e2e2; height: 28px; line-height: 28px; margin: 0 -1px -1px 0; color: #333; font-size: 12px;}
.sun-laypage em{font-style: normal;}
.sun-laypage span{color:#999; font-weight: 700;}
.sun-laypage a{ text-decoration: none;}
.sun-laypage .sun-laypage-curr{position: relative;}
.sun-laypage .sun-laypage-curr em{position: relative; color: #fff; font-weight: 400;}
.sun-laypage .sun-laypage-curr .sun-laypage-em{position: absolute; left: -1px; top: -1px; padding: 1px; width: 100%; height: 100%; background-color: #009688; }
.sun-laypage-em{border-radius: 2px;}
.sun-laypage-prev em,
.sun-laypage-next em{font-family: Sim sun; font-size: 16px;}

.sun-laypage .sun-laypage-total{border: none;font-weight: 400;}
.sun-laypage input, .sun-laypage button{height: 30px; line-height: 30px; border:1px solid #e2e2e2; border-radius: 2px; vertical-align: middle;  background-color: #fff; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
.sun-laypage input{width: 50px; margin: 0 5px; text-align: center;}
.sun-laypage button{margin-left: 5px; padding:0 15px; cursor: pointer;}


/** 代码修饰器 **/
.sun-code{position: relative; margin: 10px 0; padding: 15px; line-height: 20px; border: 1px solid #ddd; border-left-width: 6px; background-color: #F2F2F2; color: #333; font-family: Courier New; font-size: 12px;}


/** 树组件 **/
.sun-tree{line-height: 26px;}
.sun-tree li{text-overflow: ellipsis; overflow:hidden; white-space: nowrap;}
.sun-tree li a,
.sun-tree li .sun-tree-spread{display: inline-block; vertical-align: top; height: 26px; *display: inline; *zoom:1; cursor: pointer;}
.sun-tree li a{font-size: 0;}
.sun-tree li a i{font-size: 16px;}
.sun-tree li a cite{padding: 0 6px; font-size: 14px; font-style: normal;}
.sun-tree li i{padding-left: 6px; color: #333; -moz-user-select: none;}
.sun-tree li .sun-tree-check{font-size: 13px;}
.sun-tree li .sun-tree-check:hover{color: #009E94;}
.sun-tree li ul{display: none; margin-left: 20px;}
.sun-tree li .sun-tree-enter{line-height: 24px; border: 1px dotted #000;}
.sun-tree-drag{display: none; position: absolute; left: -666px; top: -666px; background-color: #f2f2f2; padding: 5px 10px; border: 1px dotted #000; white-space: nowrap}
.sun-tree-drag i{padding-right: 5px;}

/** 导航菜单 **/
.sun-nav{position: relative; padding: 0 20px; background-color: #393D49; color: #ffffff; border-radius: 2px; font-size: 0; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
.sun-nav *{font-size: 14px;}
.sun-nav .sun-nav-item{position: relative; display: inline-block; vertical-align: middle; line-height: 60px;}
.sun-nav .sun-nav-item a{display: block; padding: 0 20px; color: #ffffff; transition: all .3s; -webkit-transition: all .3s;}
.sun-nav-bar,
.sun-nav .sun-this:after{position: absolute; left: 0; top: 0; width: 0; height: 5px; background-color: #5FB878; transition: all .2s; -webkit-transition: all .2s;}
.sun-nav-bar{z-index: 1000;}
.sun-nav .sun-this a
,.sun-nav .sun-nav-item a:hover{color: #fff;}
.sun-nav .sun-this:after{content: ''; top: auto; bottom: 0; width: 100%;}

.sun-nav-child{display: none; position: absolute; left: 0; top: 65px; min-width: 100%; line-height: 36px; padding: 5px 0;  box-shadow: 0 2px 4px rgba(0,0,0,.12); border: 1px solid #d2d2d2; background-color: #fff; z-index: 100; border-radius: 2px; white-space: nowrap;}
.sun-nav .sun-nav-child a{color: #333;}
.sun-nav .sun-nav-child a:hover{background-color: #f2f2f2; color: #333;}
.sun-nav .sun-nav-more{content:''; width: 0; height: 0; border-style: dashed; border-color: transparent; overflow: hidden; cursor: pointer; transition: all .2s; -webkit-transition: all .2s;}
.sun-nav .sun-nav-more{position: absolute; top: 28px; right: 3px; border-width: 6px; border-top-style: solid; border-top-color: #c2c2c2;}
.sun-nav .sun-nav-mored,.sun-nav-itemed .sun-nav-more{top: 22px; border-style: dashed; border-color: transparent; border-bottom-style: solid; border-bottom-color: #c2c2c2;}


/* 垂直导航菜单 */.sun-nav-tree{width: 200px; padding: 0;}
.sun-nav-tree .sun-nav-item{display: block; width: 100%; line-height: 45px;}
.sun-nav-tree .sun-nav-item a{height: 45px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.sun-nav-tree .sun-nav-bar{width: 5px; height: 0;}
.sun-nav-tree .sun-this{margin: 1px 0;}
.sun-nav-tree .sun-this>a{background-color: #4E5465;}
.sun-nav-tree .sun-this:after{width: 5px; height: 100%; top: 0; left: 0; bottom: auto;}
.sun-nav-tree .sun-nav-item a:hover{background-color: #4E5465;}
.sun-nav-tree .sun-nav-title a,
.sun-nav-tree .sun-nav-title a:hover,
.sun-nav-itemed>a{background-color: #2B2E37 !important; color: #fff !important;}
.sun-nav-side{position: fixed; top: 0; bottom: 0; left: 0; overflow-x: hidden; z-index: 999;}

.sun-nav-tree .sun-nav-child{position: relative; top: 0; background: none; border: none; box-shadow: none;}
.sun-nav-tree .sun-nav-child a{height: 36px; line-height: 36px; padding-left: 36px;}
.sun-nav-tree .sun-nav-child a{color: #c2c2c2;}
.sun-nav-tree .sun-nav-child a:hover{color: #fff; background: none;}
.sun-nav-tree .sun-nav-more{top: 20px; right: 10px;}
.sun-nav-itemed .sun-nav-more{top: 14px;}
.sun-nav-itemed .sun-nav-child{display: block;}

/** 面包屑 **/
.sun-breadcrumb{visibility: hidden; font-size: 0;}
.sun-breadcrumb a{padding-right: 8px; line-height: 22px; font-size: 14px; color: #333 !important;}
.sun-breadcrumb a:hover{color: #01AAED !important;}
.sun-breadcrumb a span,
.sun-breadcrumb a cite{ color: #666; cursor: text; font-style: normal;}
.sun-breadcrumb a span{padding-left: 8px; font-family: Sim sun;}

/** Tab选项卡 **/
.sun-tab{margin: 10px 0; overflow: hidden; text-align: left !important;}
.sun-tab-title{position: relative; left: 0; height: 40px; white-space: nowrap; font-size: 0; border-bottom: 1px solid #e2e2e2; transition: all .2s; -webkit-transition: all .2s;}
.sun-tab-title li{display: inline-block; *display: block; *zoom: 1; vertical-align: middle; font-size: 14px; transition: all .3s; -webkit-transition: all .3s;}
.sun-tab-title li{position: relative; line-height: 40px; min-width: 65px; padding: 0 10px; text-align: center; cursor: pointer;}
.sun-tab-title .sun-this{color: #000;}

.sun-tab-title .sun-this:after{position: absolute; left:0; top: 0; content: ''; width:100%; height: 41px; border: 1px solid #e2e2e2; border-bottom-color: #fff; border-radius: 2px 2px 0 0; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important; pointer-events: none;}
.sun-tab-bar{position: absolute; right: 0; top: 0; width: 30px; height: 39px; line-height: 39px; border: 1px solid #e2e2e2; border-radius: 2px; text-align: center; background-color: #fff; cursor: pointer;}
.sun-tab-bar .sun-icon{position: relative; display: inline-block; top: 3px; transition: all .3s; -webkit-transition: all .3s;}
.sun-tab-item{display: none;}
.sun-tab-more{padding-right: 30px; height: auto; white-space: normal;}
.sun-tab-more li.sun-this:after{border-bottom-color: #e2e2e2; border-radius: 2px;}
.sun-tab-more .sun-tab-bar .sun-icon{top: -2px; top: 3px\0; -webkit-transform: rotate(180deg); transform: rotate(180deg);}
:root .sun-tab-more .sun-tab-bar .sun-icon{top: -2px\0/IE9;}

.sun-tab-content{padding: 10px;}

/* Tab关闭 */.sun-tab-title li .sun-tab-close{ position: relative; margin-left: 8px; top: 1px; color: #c2c2c2;}
.sun-tab-title li .sun-tab-close:hover{border-radius: 10px; background-color: #FF5722; color: #fff;}

/* Tab简洁风格 */.sun-tab-brief > .sun-tab-title .sun-this{color: #009688;}
.sun-tab-brief > .sun-tab-title .sun-this:after
,.sun-tab-brief > .sun-tab-more li.sun-this:after{border: none; border-radius: 0; border-bottom: 3px solid #5FB878;}

/* Tab卡片风格 */.sun-tab-card{border: 1px solid #e2e2e2; border-radius: 2px; box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);}
.sun-tab-card > .sun-tab-title{ background-color: #f2f2f2;}
.sun-tab-card > .sun-tab-title li{margin-right: -1px; margin-left: -1px;}
.sun-tab-card > .sun-tab-title .sun-this{background-color: #fff;     }
.sun-tab-card > .sun-tab-title .sun-this:after{border-top: none; border-width: 1px; border-bottom-color: #fff;}
.sun-tab-card > .sun-tab-title .sun-tab-bar{height: 40px; line-height: 40px; border-radius: 0; border-top: none; border-right: none;}
.sun-tab-card > .sun-tab-more .sun-this{background: none; color: #5FB878;}
.sun-tab-card > .sun-tab-more .sun-this:after{border: none;}

/** fixbar **/
.sun-fixbar{position: fixed; right: 15px; bottom: 15px; z-index: 9999;}
.sun-fixbar li{width: 50px; height: 50px; line-height: 50px; margin-bottom: 1px; text-align:center; cursor: pointer; font-size:30px; background-color: #9F9F9F; color:#fff; border-radius: 2px; opacity: 0.95;}
.sun-fixbar li:hover{opacity: 0.85;}
.sun-fixbar li:active{opacity: 1;}
.sun-fixbar .sun-fixbar-top{display: none; font-size: 40px;}

/** 表情面板 **/
body .sun-util-face{border: none; background: none;}
body .sun-util-face  .sun-layer-content{padding:0; background-color:#fff; color:#666; box-shadow:none}
.sun-util-face .sun-layer-TipsG{display:none;}
.sun-util-face ul{position:relative; width:372px; padding:10px; border:1px solid #D9D9D9; background-color:#fff; box-shadow: 0 0 20px rgba(0,0,0,.2);}
.sun-util-face ul li{cursor: pointer; float: left; border: 1px solid #e8e8e8; height: 22px; width: 26px; overflow: hidden; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center;}
.sun-util-face ul li:hover{position: relative; z-index: 2; border: 1px solid #eb7350; background: #fff9ec;}

/** 动画 **/
.sun-anim{-webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.sun-anim-loop{-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}

@-webkit-keyframes sun-rotate{ /* 循环旋转 */
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes sun-rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.sun-anim-rotate{-webkit-animation-name: sun-rotate; animation-name: sun-rotate; -webkit-animation-duration: 1s; animation-duration: 1s;  -webkit-animation-timing-function: linear; animation-timing-function: linear;}

@-webkit-keyframes sun-up{ /* 从最底部往上滑入 */
    from {-webkit-transform: translate3d(0, 100%, 0); opacity: 0.3;}
    to {-webkit-transform: translate3d(0, 0, 0);  opacity: 1;}
}
@keyframes sun-up{
    from {transform: translate3d(0, 100%, 0);  opacity: 0.3;}
    to {transform: translate3d(0, 0, 0);  opacity: 1;}
}
.sun-anim-up{-webkit-animation-name: sun-up; animation-name: sun-up;}

@-webkit-keyframes sun-upbit{ /* 微微往上滑入 */
    from {-webkit-transform: translate3d(0, 30px, 0); opacity: 0.3;}
    to {-webkit-transform: translate3d(0, 0, 0);  opacity: 1;}
}
@keyframes sun-upbit{
    from {transform: translate3d(0, 30px, 0);  opacity: 0.3;}
    to {transform: translate3d(0, 0, 0);  opacity: 1;}
}
.sun-anim-upbit{-webkit-animation-name: sun-upbit; animation-name: sun-upbit;}

@-webkit-keyframes sun-scale { /* 放大 */
    0% {opacity: 0.3; -webkit-transform: scale(.5);}
    100% {opacity: 1; -webkit-transform: scale(1);}
}
@keyframes sun-scale {
    0% {opacity: 0.3; -ms-transform: scale(.5); transform: scale(.5);}
    100% {opacity: 1; -ms-transform: scale(1); transform: scale(1);}
}
.sun-anim-scale{-webkit-animation-name: sun-scale; animation-name: sun-scale}

@-webkit-keyframes sun-scale-spring { /* 弹簧式放大 */
    0% {opacity: 0.5; -webkit-transform: scale(.5);}
    80% {opacity: 0.8; -webkit-transform: scale(1.1);}
    100% {opacity: 1; -webkit-transform: scale(1);}
}
@keyframes sun-scale-spring {
    0% {opacity: 0.5; -ms-transform: scale(.5); transform: scale(.5);}
    80% {opacity: 0.8; -ms-transform: scale(1.1); transform: scale(1.1);}
    100% {opacity: 1; -ms-transform: scale(1); transform: scale(1);}
}
.sun-anim-scaleSpring{-webkit-animation-name: sun-scale-spring; animation-name: sun-scale-spring}


/** 响应式（前期不作为重心） **/
@media screen and (max-width: 450px) {
    /** 表单 **/
    .sun-form-item .sun-form-label{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
    .sun-form-item .sun-inline{font-size:13px;margin-right: 0; margin-top: 10px; clear: both;}
    .sun-form-item .sun-inline:after{content:'\20'; clear:both; display:block; height:0;}
    .sun-form-item .sun-input-inline{display: block; float: none; left: -1px; width: auto; margin: 0 0 10px 112px; }
    .sun-form-item .sun-input-inline+.sun-form-mid{margin-left: 110px; top: -5px; padding: 0;}
    .sun-form-item .sun-form-checkbox{margin-right: 5px; margin-bottom: 5px;}
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1170px) {

}

@media only screen and (min-width: 1170px) {

}